<div class="burger-container">
  <div class="header">
    <h1 style= "color: white; font-family:cursive; font-size:40pt">It's Burger time..nom nom nom!!</h1>
  </div>
  <form action="submit" class="burger-form" id="add-burger-form">
    <input type="text" required name="name" placeholder="Add burger name">
    <button type="submit">Add a Burger</button>
    <br/>
    <br/>
    <a href="/burger/all" style="color:white; font-family:cursive;">Click here to see all the burgers!</a>
  </form>
  <div>
    <div class="table">
      <div>
        <h3 style="color:white; font-family:cursive; font-size:30pt">Ready to eat!</h3>
        <div id="readyBurgers">

        </div>
      </div>
      <div class="margin">
        <img src="/assets/images/burger.jpg" alt="burger">
      </div>
      <div>
        <h3 style="color:white; font-family:cursive; font-size:30pt">Devoured!</h3>
        <div id="devouredBurgers">

        </div>
      </div>
    </div>
  </div>
</div>