<div class="burger-container">
  <div class="header">
    <h1>Burger Time!</h1>
  </div>
  <form action="submit" class="burger-form" id="add-burger-form">
    <input type="text" required name="name" placeholder="Add burger name">
    <button type="submit">Add Burger</button>
    <br/>
    <br/>
    <a href="/burger/all">Burger Hall of Fame</a>
  </form>
  <div>
    <div class="table">
      <div>
        <h3>Ready!</h3>
        <div id="readyBurgers">

        </div>
      </div>
      <div class="margin">
        <img src="/assets/images/burger.jpg" alt="burger">
      </div>
      <div>
        <h3>Devoured!</h3>
        <div id="devouredBurgers">

        </div>
      </div>
    </div>
  </div>
</div>